.color-box {
  width: 7rem;
  height: 3rem;
  display: inline-block;
  border-radius: 6px;
}
.flex {
  display: flex;
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
li {
  list-style: none;
  margin: 0 0.5rem;
}
strong {
  text-transform: capitalize;
}
