html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Custom Styling*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  background-color: bisque;
  line-height: 1.5;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-30 {
  flex: 0 1 30%;
}
.no-wrap {
  flex-wrap: nowrap;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
li {
  list-style: none;
  margin-left: 2rem;
}
.header,
.footer {
  padding: 1rem 0;
}
.hero {
  height: 30vh;
  text-align: center;
  line-height: 30vh;
}
.articles {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 1rem;
  background-color: white;
}
img {
  width: 100%;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  padding: 1rem;
}
hr {
  border: none;
  border-top: 1px solid rgba(208, 206, 206, 0.5);
}
